{% extends 'cursos/base.html' %}

{% block body %}

<h1>Nuestros Cursos</h1>

{% for curso in cursos %}
    <div>
        <h2>{{ curso.nombre }}</h2>
        <p>{{ curso.descripcion }}</p>
        <p><strong>Nivel:</strong> {{ curso.nivel }}</p>
        <p><strong>Duración:</strong> {{ curso.duracion_semanas }} semanas</p>
        <p><strong>Profesor:</strong> {{ curso.profe }}</p>
    </div>
    <hr>
{% empty %}
    <p>No hay cursos cargados.</p>
{% endfor %}


<h2>Profesores</h2>

<a href="{% url 'profes' %}">Crear profesor</a>

<hr>

{% for profesor in profesores %}
    <div>
        <h3>{{ profesor.nombre }}</h3>
        <p>{{ profesor.descripcion }}</p>

        <a href="{% url 'editar_profesor' profesor.id %}">
            Editar
        </a>

        |

        <a href="{% url 'borrar_profesor' profesor.id %}">
            Borrar
        </a>
    </div>

    <hr>
{% empty %}
    <p>No hay profesores cargados.</p>
{% endfor %}

{% endblock %}